* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-color: #cccccc;
  font-family: helvetica, sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.player {
  max-width: 300px;
}

.scout {
  list-style: none;
}

.user-action {
  margin-top: 20px;
}
